.shelves-main-div {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  border: 1px solid brown;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #F4F1EA;
}

.add-shelf-form {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid brown;
}

.add-shelf-form input[type=submit] {
  background-color: #382110;
  color: white;
  border-radius: 7px;
  box-shadow: none;
  width: 50px;
  height: 15px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.add-shelf-form input[type="text"] {
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  width: 120px;
  height: 20px;
  margin: 5px;
  font-size: 12px;
}

.shelves-main-div ul {
  padding-top: 5px;
  font-size: 13px;
  margin-left: 5px;
}

.shelves-main-div li {
  display: flex;
  justify-content: space-between;
}

.shelves-main-div button {
  margin-right: 5px;
}
