@import url('https://fonts.googleapis.com/css?family=Merriweather');

.book-show-all {
  display: flex;
}

.book-show-side-bar {

}

.book-show-main-div {
  display: flex;
  font-family: 'Merriweather', serif;
  margin-left: 10px;
}

.book-show-description-div {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  width: 600px;
  // margin-bottom: px;
};

.book-show-description-div h2 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  margin-top: 5px;
};

.book-show-description-div select {
  margin-left: 3px;
  border-radius: 3px;
}

.book-show-description-div label {
  font-weight: bold;
  color: #00635d
}

.description-rating-label {
  display: flex;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: -999999;
}

.description-rating {
  margin-left: 2px;
  // align-self: center;
}

.book-show-description-div span {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-style: normal;
  margin: 2px;
};

.book-show-description-div p {
  font-size: 14px;
  font-style: normal;
  margin-top: 5px;
  border-bottom: 1px solid #d7d7d7;
};

.book-show-main-div img {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 170px;
  border: 1px solid black;
}

.book-show-bookshelf-div {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book-show-bookshelf-div span {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 5px;
  color: #aaa;
  // font-weight: bold;
}

.book-show-bookshelf-div form {
  display: flex;
  flex-direction: column;
}

.book-show-bookshelf-div form label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: #00635d;
}

.book-show-bookshelf-div form input[type="submit"]{
  background-color: #F4F1EA;
  border: 1px solid #D6D0C4;
  color: #333333;
  border-radius: 3px;
  box-shadow: none;
  width: 70px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin-bottom: 5px;
  margin-left: 5px;
}

.book-show-description-reviews-div {
  display: flex;
  flex-direction: column;
}

.book-show-img-description {
  display: flex;
}

.status-dropdown {
  margin-top: 3px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.status-dropdown select {
  background-color: #F4F1EA;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  color: #333333;
  font-size: 12px;
  height: 20px;
}
