.book-index-main-div {
  display: flex;
}

.book-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book-index li {
  padding: 1px;
}

.book-index-main-div img {
  display: flex;
  width: 230px;
  height: 350px;
  padding: 5px;
  box-shadow: 10px;
  margin: 3px;
  border: 2px solid #F4F1EA;
  background-color: #d7d7d7;
}

.book-index-main-div li {
  display: flex;
  flex-wrap: wrap;
}
