.shelves-main-div {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d7d7d7;
  margin-left: 5px;
  margin-right: 10px;
  // margin-top: 5px;
  // background-color: #F4F1EA;
}

.add-shelf-form {
  margin-left: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d7d7d7;
}

.add-shelf-form input[type=submit] {
  background-color: #F4F1EA;
  border: 1px solid #D6D0C4;
  color: #333333;
  border-radius: 3px;
  box-shadow: none;
  width: 70px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin-bottom: 5px;
  margin-left: 5px;
}

.add-shelf-form input[type="text"] {
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  width: 120px;
  height: 20px;
  margin: 5px;
  font-size: 12px;
}

.shelves-main-div ul {
  padding-top: 5px;
  font-size: 14px;
  margin-left: 5px;
}

.shelves-main-div li {
  display: flex;
  justify-content: space-between;
  color: #00635d;
}

.shelves-main-div button {
  margin-right: 5px;
  color: black;;
}
