.book-index-main-div {
  display: flex;
  height: 100%;
}

.book-index-main-div ul {
  display: flex;
}

.book-index-main-div img {
  width: 130px;
  height: 190px;
  padding: 5px;
  margin: 5px;
  border: 2px solid brown;;
  // background-color: #382110;
  // border-color: solid black;
}
