@import url('https://fonts.googleapis.com/css?family=Merriweather');

.book-show-main-div {
  display: flex;
  font-family: 'Merriweather', serif;
}

.book-show-main-div img {
  width: 130px;
  height: 190px;
}
