@import url('https://fonts.googleapis.com/css?family=Merriweather');

.bookshelf-show-main-div {
  display: flex;
  font-family: 'Merriweather', serif;
}

.bookshelf-show-div-ul {
  display: flex;
}

.bookshelf-show-main-div img {
  display: flex;
  width: 230px;
  height: 350px;
  padding: 5px;
  box-shadow: 10px;
  margin: 3px;
  border: 2px solid #F4F1EA;
  background-color: #d7d7d7;
}

.bookshelf-show-main-div li {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
