.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F4F1EA;
  height: 65px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid black;
}

.header h1 {
  color: #382110;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
}

.header input[type="text"] {
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  width: 120px;
  height: 20px;
  margin: 5px;
  font-size: 12px;
}

.header input[type="password"] {
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  width: 120px;
  height: 20px;
  margin: 5px;
  font-size: 12px;
}

.header input[type="submit"] {
  border: 1px solid #D6D0C4;
  align-self: center;
  color: #382110;
  border-radius: 3px;
  box-sizing: border-box;
  // box-shadow: none;
  width: 70px;
  height: 30px;
  text-align: center;
  font-size: 16px;
}

.header input[type="submit"]:hover {
  color: white;
  background-color: #382110;
}

.header-btn-search-div {
  display: flex;
  // flex-direction: column;
}

.header-btn-search-div input[type="text"] {
  height: 35px;
  width: 270px;
  text-indent: 5px;
}

.header-search-div {
  display: flex;
  flex-direction: column;
  // margin-top: 5px;
}

.header-search-div form {
  // position: absolute;
}

.header-search-div ul {
  max-height: 20px;
  margin-top: 50px;
  position: fixed;
  width: 270px;
  margin-left: 5px;
  // background-color: #F4F1EA;
  height: 300px;
}

.header-search-div li {
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid black;
  margin-left: 5px;
  background-color: #F4F1EA;
}

.header button {
  align-self: center;
  color: #382110;
  // border-radius: 10px;
  box-sizing: border-box;
  // box-shadow: none;
  width: 80px;
  height: 55px;
  text-align: center;
  font-size: 16px;
}

.header button:hover {
  color: white;
  background-color: #382110;
}

.header h3 {
  align-self: flex-end;
  flex-direction: row;
}

.header-img-logo {
  display: flex;
  flex-direction: row;
}

.header-img-logo img {
  height: 50px;
  width: 70px;
}
