.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F4F1EA;
  height: 65px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid black;
}

.header h1 {
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 40px;
}

.header input[type="text"] {
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  width: 120px;
  height: 20px;
  margin: 5px;
  font-size: 12px;
}

.header input[type="submit"] {
  background-color: #382110;
  color: white;
  border-radius: 7px;
  box-shadow: none;
  width: 60px;
  height: 20px;
  text-align: center;
  font-size: 12px;
}

.header button {
  background-color: #382110;
  color: white;
  border-radius: 7px;
  box-shadow: none;
  width: 60px;
  height: 20px;
  text-align: center;
  font-size: 12px;
}

.header h3 {
  align-self: flex-end;
  flex-direction: row;
}
