.open-preview-btn {
  background-color: #F4F1EA;
  border: 1px solid #D6D0C4;
  color: #333333;
  border-radius: 3px;
  box-shadow: none;
  width: 100px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin-bottom: 5px;
  margin-left: 5px;
}

.disabled {
  // pointer-events:none;
  opacity:0.7;
}

.pager {
  display: flex;
  justify-content: center;
}

.pager li {
  margin: 5px;
}
