.review-index-main-div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.review-index-main-div Link {
  font-size: 15px;
  margin-bottom: 5px;
}

.review-item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #382110;
  border-bottom: 1px solid #382110;
  margin-top: 5px;
  margin-bottom: 5px;
}

.review-item span {
  font-size: 12px;
  margin-bottom: 5px;
}

.review-item span {
  display: flex;
  font-size: 12px;
}

.review-item span > p {
  font-size: 12px;
  font-weight: bold;
  margin-right: 3px;
}

.review-item div {
  font-size: 12px;
  font-weight: bolder;
  font-style: italic;
}

.review-index-main-div-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F1EA;
  border: 1px solid #D6D0C4;
  color: #333333;
  border-radius: 3px;
  box-shadow: none;
  width: 75px;
  height: 25px;
  text-align: center;
  font-size: 11px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.review-index-item-main-div {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  color: #827a7a;
  margin-bottom: 5px;
  border-radius: 3px;
  background-color: #e4e4e4;
  width: 500px;
  // z-index: -2;
}

.review-index-item-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5px;
  font-size: 12px;
}

.review-index-item-buttons-link {
  margin: 5px
}

.review-index-item-buttons button {
  margin: 5px;
}

.review-index-item-main-div h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  font-size: 12px;
  // z-index: -9999999999;
}


.review-rating {
  // z-index: 1;
  // font-size: 20px;
}

.username {
  font-weight: bolder;
  color: #00635d;
}

.review-index-item-main-div h3 {
  margin-left: 5px;
  color: #00635d
}

.review-index-item-main-div p {
  margin-left: 5px;
  word-wrap: break-word;
}
