.statuses-index-main-div {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  border: 1px solid brown;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #F4F1EA;
}

.statuses-index-ul {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-bottom: 5px;
}
