.statuses-index-main-div {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  border: 1px solid brown;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #F4F1EA;
}

.statuses-index-ul {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-bottom: 5px;
}

.status-show-main-div {
  display: flex;
  font-family: 'Merriweather', serif;
  // flex-wrap: wrap;
  flex-direction: row;

}

.status-show-main-div img {
  display: flex;
  width: 130px;
  height: 190px;
  padding: 5px;
  margin: 5px;
  border: 2px solid brown;
}

.status-show-ul-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

// .status-show-main-div li {
//   display: flex;
//   flex-wrap: wrap;
//   list-style: none;
// }
