.statuses-index-main-div {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 10px;
  // margin-bottom: 5px;
  // background-color: #F4F1EA;
}

.statuses-index-main-div h1 {
  margin-left: 5px;
  color: #aaa;
  font-size: 18px;
  font-weight: normal;
}

.statuses-index-ul {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #00635d;
}

.statuses-index-ul a:hover {
  background-color: #aaa;
}

.status-show-main-div {
  display: flex;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  // flex-wrap: wrap;
  flex-direction: row;

}

.status-show-main-div img {
  display: flex;
  width: 230px;
  height: 350px;
  padding: 5px;
  box-shadow: 10px;
  margin: 3px;
  border: 1px solid brown;
  background-color: grey;
}

.status-show-ul-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

// .status-show-main-div li {
//   display: flex;
//   flex-wrap: wrap;
//   list-style: none;
// }
